/* Overall HTML */
/* 
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(210, 13%, 44%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* --max-width: 1170px; */
  --fixed-width: 992px;
  
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
html  {
    scroll-behavior: smooth;
    width: 100%;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  color: #222;
  padding-top: 4.8rem;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;

  }
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}




/* ==== HEADER SECTION ==== */

#home
{
        background: var(--clr-white);
      
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem;
    background: var(--clr-primary-1);
    box-shadow: var(--light-shadow);
    margin: 0px 0 12px;
  } 
  
  .fixed-nav .links a {
    color: var(--clr-white);
  }
  .fixed-nav .links a:hover {
    color: var(--clr-pri);
  }

.banner-wrapper{
        max-width:  var(--fixed-width);
        margin: 80px auto;
        padding: 1.4rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        min-height: 65vh;
    
}

/* Default styles for links (visible in desktop) */
.links-container .links {
  display: flex;
  justify-content: space-around;
}

/* Burger Menu */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu i {
  font-size: 30px;
}


img{
    width: 80%;
    display: block;
}

 .nav-center{
    width: 300vh; 
     max-width: 1170px;
    font-size: 1.1;
     margin: 0 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  

  } 
  .banner{
    min-height: 60vh;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 1.6rem 1.2rem;
    place-items: center;
    text-align: center;
    letter-spacing: var(--spacing);
    justify-content: stretch;
   
   } 

  .header {
    min-height: 60vh;
    /*background: linear-gradient(rgba(63,  207, 2020, 0.7), rgba(0,0,0,0.2));*/
  }

.links-container{
    color: var(--clr-white);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}
.links {
    height: auto !important;
      display: flex; 
      height: 0;
      overflow: hidden;
      transition: var(--transition); 
      padding: -1% 0 0 -20px; 
      text-align: center;
      justify-content: center;
      

}
.links a{

    margin: 0.1rem 0.5rem;
    color: var(--clr-white);
    font-size: 1rem;
    text-transform:var(--transition);
    letter-spacing: var(--spacing);
    font-weight: bold;
    display: flex; 
    padding: 0.5rem 1rem 0 3rem;
    transition: var(--transition);
    text-decoration: none;

    
  }
  .links a:hover {
    
    background: transparent;
    background: var(--ff-primary-5);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
    padding: 0;

  }
#home{
    min-height: 60vh; 
    display: grid;
    place-items: center;
    background-color: #fff;
   
  }


header{
    background: #f9f9f9;
}

#cart-icon .cart-icon{
    position: absolute;
    display: flex;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    right: 25%;
} 

.cart-item-count.child{
    position: absolute;
    top: 25px;
    right: 25.0%;
    width: 15px;
    height: 15px;
    background: #e35f26;
    color:#fff;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}
.modal{
  display: block;
}
.modal-btn {
  margin-top: 2rem;
  background: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  color: var(--clr-white);
}
.modal-btn:hover {
  background: transparent;
  color: var(--clr-primary-5);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(169, 163, 172, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 60vw;
  height: 45vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}


/* Modal */

.btn{
  text-transform: uppercase;
  position: absolute;
  margin: -12% 24% 10%;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.65rem 1rem;
  border: 3px solid #222;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}  
.btn:hover{
  background: #fff;
  color: #222;
  border-color: #222;}

/* ===== BANNER CONTENT ======= */

.container-home{
    display: flex;
    
    }
.banner-content{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
}

.color-content{
    margin-top: 3.2rem;
}
.color-groups{
    padding: 1rem 0;
    display: flex;
}
.color{
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.color-darkblue{
    background-color:cornflowerblue;
}

.color-pink{
    background-color: hotpink;
}
.color-grey{
    background-color: var(--clr-grey-5);
}
.color-olivegreen{
    background-color: aquamarine;
}
.color-lightblue{
    background-color:deepskyblue;
}
.color:hover{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.active-color{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
.active-color1{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}


/* ===== BANNER CONTAINER ==== */
.container-home{
    display: flex;
}

.banner-left h2{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.banner-left span{
    display: block;
    font-size: 4.4rem;
}
.banner-left p{
    margin: 1.6rem 0;
    line-height: 1.7;
}
.banner-left button{
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.65rem 1rem;
    border: 3px solid #222;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.banner-left button:hover{
    background: #fff;
    color: #222;
    border-color: #222;
}
.banner-left button:focus{
    outline: 0;
}




/* ===section centre === */

section {
    /* padding-top: 1rem; */
     text-transform: capitalize;
     /* width: 100%; */
   }

   #pricing{
    background: var(--clr-white);
    justify-content: center;
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(auto-fit, minmax (20rem, 1fr));
    grid-auto-rows: 1fr;
  }
  #features{
    background: var(--clr-grey-10);
    display: grid;
    width: 100%; 
    margin: 50px 0 10px;
    grid-template-columns: repeat(auto-fit, minmax (20rem, 1fr));
    grid-auto-rows: 1fr;
  }
#features,
#pricing,
#contact{
    /* max-width: 992px; */
        flex: 1 1 250px;
        margin: 50px 0 10px;
        padding: 6.5rem ;
        display: flex;
        min-height: 60vh;
        justify-content: center;
        text-align: center;
        display: grid;
        width: 100%; 
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax (20rem, 1fr));
}
 .Big-heading{
    padding-bottom: 6rem;
}

    footer {
        color: var(--ff-secondary);

      }
      /* #contact{
        justify-content: center;
        text-align: center;
        color: #fff;
        background: var(--clr-grey-1);
        /* padding:0 2px 2px 2px; */
        /* height: 60vh; *
        min-height: 70vh;
      } */
      #contact{
        place-items: center;
        text-align: center;
        color: #fff;
        background: var(--clr-grey-1);
        padding:0 2px 2px 2px;
        min-height: 60vh;
        padding: 1.6rem 1.2rem;
        width: 100%; 
        margin: 50px 0 10px;
        
      }
      

      .img1 {
        width: 40%;
        object-fit: cover;
        margin-top: 50px;    
      
      }
      .img2{
        width: 350px;
        padding: 5px 5px auto;
      }

.shop{
    padding: 100px 9% 30px;

}
.section.title{
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 15px; */

} 
.product-content{ 
    display: flex;
    grid-template-columns: (auto-fit, minmax(280px, 1 fr));
    gap:30px;
    height: 250px;
}
.product-box .img-box{
    display:flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;

}

.img-box img{
    width: 200px;
    transition: 0.5s;
}
.img-box img:hover{
    transform: scale(1.1);
}
.product-box .product-title{
    font-size: 20px;
    margin-top: 10px;
} 
.product-box .price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-box .price-cart span{
    font-size: 18px;
    font-weight: 500;
}
.price-cart .add-cart{
padding: 10px;
background-color: #e35f26;
border-radius: 6px;
font-size: 20px;
color: #fff;
cursor: pointer;
}
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-color: #fff;
    box-shadow:-2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
    /* visibility: hidden;  */
} 
.cart.active {
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 30px;

}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right:20px;

}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width:100px;
    border: 1px solid #999;
    border-radius: 6px;
}

.cart-quantity button{
background: transparent;
width: 30px;
border: none;
font-size: 20px;
cursor: pointer;

}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}

.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}

.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: var(--clr-grey-3);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--clr-white);
    margin: 20px auto 0;
    cursor: pointer;
}

#cart-close{
    position: absolute;
    top:20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}

.banner-left input{
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.65rem 2rem;
    border: 3px solid #222;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}
.input button{
    justify-content: inherit;
    align-items: left;
}

    /* ===== GLOBAL STYLES ===== */

/* For small screens (mobile) */
@media (max-width: 767px) {
  body {
      font-size: 0.875rem;
  }
 #contact, #features, #pricing{
  margin: 12rem -25rem  -12rem 15rem;
  padding: 500 200 200 540; 
  
}

#pricing.banner-left.shop{
  margin: 15rem -35rem  -12rem 15rem;
  /* padding: 500 200 200 540px; */

}

  .header {
      padding-top: 3rem;
     margin: -1rem -35rem  -12rem 0;
  }
  .nav-center {
    flex-direction: column;
    justify-content: left;
}
#pricing.banner-left.shop{
  padding-left: 500px;
  padding-right: 560px;
  margin-left: 0;
  margin-right: 0;
}

#contact.banner-left{

  padding-left: 500px;
  padding-right: 560px;
  margin-left: 0;
  margin-right: 0;

}
  .nav-center .links {
      display: none;
      
      margin-top: 1rem;
    
  }
  .burger-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: var(--clr-white);
}

/* Show navigation links when the menu is toggled */
.links.show {
    display: flex;
}

.burger-menu {
  display: block; /* Show the burger menu icon on mobile */
}
.links-container .links {
  display: none; /* Hide navigation links by default on mobile */
  flex-direction: column; /* Stack the links vertically */
  align-items: center;
  width: 100%;
}
.links-container .links.active {
  display: flex; /* Show the navigation links when 'active' */
}
  .nav-center .links a {
      padding: 1rem;
      font-size: 1.2rem;
      justify-content: left;
  }

  .fixed-nav {
      padding: 1rem;
      background: var(--clr-primary-1);
      box-shadow: var(--light-shadow);
  }

  .burger-icon {
      display: block;
      cursor: pointer;
      font-size: 2rem;
      color: var(--clr-white);
  }


  .container-home {
      flex-direction: column;
      align-items: center;
  }

  .banner-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-left h2 {
      font-size: 2rem;
  }

  .banner-left span {
      font-size: 3rem;
  }

  .product-content {
      grid-template-columns: 1fr;
  }

  .footer {
      text-align: center;
  }
}

/* For tablet screens (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
      padding-top: 3rem;
  }

  .banner-content {
      grid-template-columns: repeat(2, 1fr);
  }

  .banner-left h2 {
      font-size: 2.5rem;
  }

  .banner-left span {
      font-size: 3.5rem;
  }
  
 

  .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav-center .links {
      display: flex;
  }

  .nav-center .links a {
      padding: 0.5rem 1rem;
      font-size: 1rem;
  }

  .product-content {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* For larger screens (1025px and above) */
@media (min-width: 1025px) {
  .header {
      padding-top: 4.8rem;
  }

  .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .banner-content {
      grid-template-columns: repeat(2, 1fr);
  }

  .banner-left h2 {
      font-size: 3rem;
  }
  .burger-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: var(--clr-white);
}


  .banner-left span {
      font-size: 4rem;
  }

  .nav-center .links a {
      padding: 0.5rem 2rem;
      font-size: 1.1rem;
  }

  .product-content {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* For screens wider than 1600px */
@media (min-width: 1600px) {
  .nav-center {
      width: 80%;
  }

  .container-home {
      flex-direction: row;
      justify-content: space-between;
  }

  .banner-left h2 {
      font-size: 4rem;
  }

  .banner-left span {
      font-size: 5rem;
  }

}

  
  ul {
      list-style-type: none;
    }

      
      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
